@page
@using VPA.Models
@namespace VPA.Website.Pages.Store
@model LocationsModel
@{
    ViewData["Title"] = "Locaties";
}

<div class="text-center">
    <h1 class="display-4">Locaties</h1>
    @* <button class="btn btn-success my-3" onclick="@Model.CreateAsync()">Nieuw artikel toevoegen</button> *@
</div>

@if (Model.Locations != null && Model.Locations.Count > 0)
{
    <ul class="list-group">
        @foreach (StoreLocation location in @Model.Locations)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@location.Name</span>
                <span>@location.Row</span>
                <span>@location.Height</span>
            </li>
        }
    </ul>
}
else
{
    <p>No articles found.</p>
}


<form method="POST">
    <label for="name">Naam:</label><br>
    <input type="text" id="name" name="name" placeholder="Nieuw artikel" value="@Model.NewLocation.Name"><br>
    <label for="row">Rij:</label><br>
    <input type="number" id="row" name="row" placeholder="0.00" value="@Model.NewLocation.Row"><br>
    <label for="height">Hoogte:</label><br>
    <input type="number" id="height" name="height" placeholder="0.00" value="@Model.NewLocation.Height"><br><br>
    <input type="submit" value="Submit">
</form>
